@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400&family=Merienda&display=swap');

@import url("./logo.css");

.body {
    display: block;

    width: 100%;
    height: 100%;

    background-image: url('../static/images/main_background--blured.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}   

@media (min-width: 850px) {
    .body {
        display: block;
    
        width: 80%;
        height: 100vh;
        margin-right: auto;
        margin-left: auto;
    
        background-image: url('../static/images/main_background--blured.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    min-width: fit-content;
    width: 90%;
    max-width: 700px;
    margin: 20px 10px;
    

    transition: all 2s ease-in-out;
}

@media (min-width: 800px) {
    .header {
        display: block;
    
        width: 80%;
        margin: 0 auto;
    
        transition: all 2s ease-in-out;
    }
}

@media (min-width: 1300px) {
    .header {
        display: flex;
        justify-content: space-between;

        width: fit-content;
        margin: 50px auto;
    }
}

.header__navbar {
    min-width: 550px; 

    display: none;
}

@media (min-width: 800px) {
    .header__navbar {
        font-family: 'Laila', sans-serif;
        font-size: calc(15px + 5 * 100vw / 1200);
    
        display: flex;
        justify-content: space-around;
    
        height: 100%;
        transition: font-size 1s easein-out;
    }
    
}

.header__change-mode {
    transition: opacity 2s ease-in-out;
    display: none;
    opacity: 0;
}

@media (min-width: 800px) {
    .header__change-mode {
        position: absolute;
        right: 40px;
        top: 60px;

        display: block;

        width: 70px;
        height: 70px;

        transition: opacity 2s ease-in-out;

        opacity: .5;
        background-image: url('../static/images/moon.png');
        background-repeat: no-repeat;
        background-size: 90% 90%;
    }
}

.header__change-mode:hover {
    transition: background-image .5s ease-in-out;

    opacity: 1;
    background-image: url('../static/images/sun.png');
}

.header__burger {
    display: block;
    position: relative;
    width: 40px;
    height: 23px;
}

.header__burger span:hover {
    background-color: #D87C27;
}

.header__burger::before,
.header__burger::after {
    content: '';
    background-color: #D87C27;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    border-radius: 5px;
}

.header__burger::before {
    top: 0;
}
.header__burger::after {
    bottom: 0;
}

.header__burger span {
    background-color: #D87C27;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    top: 9px;
    border-radius: 5px;
}

@media (min-width: 800px) {
    .header__burger {
        display: none;
    }
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 20px;
    padding: 5px;
    border-bottom: dotted 1px #D87C27;

    min-width: fit-content;
    color: #d87c27;
}

@media (min-width: 750px) {
    .logo {
        display: flex;
        align-items: center;
    
        min-width: 450px;
        border-bottom: none;;
        color: #d87c27;
    }
}

.logo__symbols {
    font-size: 18pt;
    margin: 0 10px;
    display: none;
    opacity: 1;
}

@media (min-width: 750px) {
    .logo__symbols {
        font-size: 18pt;
        margin: 0 10px;
        display: block;
        opacity: 1;
    }
}
.logo__text {
    font-size: calc(24px + 20 * 100vw / 1200);
    text-shadow: 2px 3px #5e4d3d;
    color: #d87c27;
    font-family: 'Merienda', cursive;
}


.navbar__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    list-style: none;
}

.navbar__item {
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 10px;

    color: #b29b5e;
}

.navbar__item:hover {
    color: #cf8009;
}

.navbar__item:focus {
    color: #7e4d05;
}

.button {
    font-family: 'Merienda', sans-serif;

    padding: 10px 35px;
    padding-left: 45px;

    color: #330e08;
    border: none;
    border-radius: 50px;
    background: linear-gradient(90deg, rgba(255,255,240,0) 0%, rgba(216,124,39,.7) 81%, rgba(216,124,32,1) 100%);
}

.button:hover {
    background: linear-gradient(90deg, rgba(255,255,240,0) 0%, rgba(202, 98, 0, .849) 81%, rgb(212, 108, 3) 100%);
}

.button:focus {
    background: linear-gradient(90deg, rgba(255,255,240,0) 0%, rgba(105, 56, 10, .849) 81%, rgb(102, 52, 2) 100%);
}

.button--longer {
    font-family: 'Merienda', sans-serif;
    font-size: 28pt;
    font-weight: bold;

    display: block;

    width: fit-content;
    padding: 5px 35px;
    padding-left: 75px;
    margin: 30px 90px;
    text-transform: uppercase;

    text-align: right;

    color: #330e08;
    border: none;
    border-radius: 50px;
    background: linear-gradient(90deg, rgba(255,255,240,0) 0%, rgba(216,124,39,.7) 81%, rgba(216,124,32,1) 100%);
}

@media (min-width: 850px) {
    .button--longer {
        font-size: 36pt;
    
        width: 250px;
        margin-top: 30px;
        margin-right: auto;
        margin-left: auto;
        padding: 5px 35px;
        padding-left: 45px;
    
        text-align: right;
    }
}

.button--longer:hover {
    background: linear-gradient(90deg, rgba(255,255,240,0) 0%, rgba(202, 98, 0, .849) 81%, rgb(212, 108, 3) 100%);
}

.button--longer:focus {
    background: linear-gradient(90deg, rgba(255,255,240,0) 0%, rgba(105, 56, 10, .849) 81%, rgb(102, 52, 2) 100%);
}


.main {
    font-family: 'Merienda', cursive;

    display: block;
    align-items: center;

    width: 100%;
    height: 100%;
    margin: 50px 0 150px 50px;
    padding: 10px 20px 90px 10px;

    border: 1px solid #a77b0f;
    border-radius: 50px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    background-color: #0701038f;
}

@media (min-width: 850px) {
    .main {
        font-family: 'Merienda', cursive;

        align-items: center;

        max-width: 70%;
        height: fit-content;
        margin: 100px auto 70px;
        padding: 30px 30px 50px 30px;


        border-radius: 50px;
    }
}

.main::before {
    display: none;
}

@media (min-width: 1400px) {
    .main::before {
        position: absolute;
        left: 17%;
        top: 17%;
        z-index: -1;
        display: inline;
        width: 61%;
        height: 55%;
        opacity: 1;
        content: ' ';
    
        border-radius: 50px;
        background-color: #07010383;
    }
}

.main__image {
    position: absolute;

    left: -120px;
    top: 330px;
    width: 300px;
    height: 250px;

    border: 1px solid #b7870ebb;
    border-radius: 0px 20px 20px 0;
}

@media (min-width: 850px) {
    .main__image {
        position: inherit;
        width: 40%;
        margin: 0 25px;
    
        border: 1px solid #b7870e77;
        border-radius: 160px 20px 20px;
    }
}


@media (min-width: 800px) {

}
.main__header {
    display: none;
}

.content {
    display: flex;
    justify-content: space-between;
}

.main__header--small {
    display: flex;
    font-size: calc(14px + 5 *100vw/100);
    max-width: 78%;
    text-align: right;

    color: #dd9d61;
    text-shadow: 3px 3px #724b27;
}

@media (min-width: 850px) {
    .main__header {
        display: block;
        font-size: 86px;
    
        margin: 10px 0;
    
        color: #dd9d61;
        text-shadow: 3px 5px #724b27;
    }

    .main__header--small {
        display: none;
    }
}

.content__text {
    font-family: 'Laila', sans-serif;
    font-size: 24px;

    height: 130px;
    opacity: 0;

    color: #b79f8c;
}

@media (min-width: 850px) {
    .content__text {
        font-family: 'Laila', sans-serif;
        font-size: 24px;
    
        max-width: 450px;
        height: auto;
        padding-left: 10px;
        opacity: 1;
        color: #b79f8c;
    }
}

.divider {
    border: none;
}

@media (min-width: 850px) {
    .divider {
        width: 80%;
        display:block;
        margin-top: 150px;
        color: #ac7d51;
        border: none;
        border-top: dotted 3px;
    }
}

.footer {
    display: none;
}

@media (min-width: 850px) {
    .footer {
        font-size: 16pt;
    
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 30pt;
        margin-right: auto;
        margin-left: auto;
    
        color: #8f6440;
    }
}
